<script src="/js/jquery-2.1.1.js"></script>

<style type="text/css">
    body {
        /*background: black;*/
        /*color: white;*/
        font-family: Verdana, Arial, sans-serif;
    }

    ol {
    }

    ol > li {
        border: 1px solid red;
        clear: both;
        overflow: hidden;
    }

    ul > li {
        float: left;
    }

    .dest {
        font-weight: bold;
        font-size: 1.5em;
    }

    .dest small {
        font-weight: normal;
    }

</style>

<h1>Teams</h1>
<ol>
    {% for team in teams %}
        <li>
            <span class="dest">
                {{ team.getName()|e }}
                <small>({{ team.getShortName()|e }})</small>
            </span>

            <ul>

                {% for dotaTeam in team.getCandidates() %}
                    <li>
                        <label>
                            <input {% if team.getDotaTeamId() == dotaTeam.getId() %} checked="checked" {% endif %} class="teamlogo" type="radio" name="teamlogo{{ team.getId() }}" data-dotateamid="{{ dotaTeam.getId() }}" data-id="{{ team.getId() }}" />
                            {{ dotaTeam.getName()|e }}
                            <small>({{ dotaTeam.getTag()|e }})</small>
                            <br />
                            <img src="/teamlogo/team_id_{{ dotaTeam.getTeamId() }}.png" width="125" height="75" />
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ol>

<input type="button" value="SAVE" class="save" />

<script type="text/javascript">
    $(function() {

        $('.save').bind('click', function() {

            var data = [];

            $('input.teamlogo:checked').each(function() {
                var el = $(this);

                var id = el.data('id');
                var dotaTeamId = el.data('dotateamid');

                data.push({
                    id: id,
                    team_id: dotaTeamId
                });
            });

            $.post('/provider/save-teams/', { data: data }, function() {
                window.location.reload();
            });

        });

    });
</script>