<h1>Countries flags</h1>
<ul>
    {% for row in countries %}
        <li>
            {% if row.country %}
                <img src="/images/flags/flat/64/{{ row.country|upper }}.png" alt="" />
                {{ row.country }}
            {% else %}
                <img src="/images/flags/flat/64/_unknown.png" alt="" />
                Unknown
            {% endif %}
        </li>
    {% endfor %}
</ul>