<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ez rares ez life</title>
</head>
<body>

<style type="text/css">
    #ez {
        text-align: center;
        font-family: "courier new", courier;
        margin-top: 3em;
        font-size: 1em;
    }
</style>

<div id="ez">ez rares ez life</div>

</body>
</html>